{% extends 'base.html.twig' %}

{% block title %}Wyprawa{% endblock %}

{% block body %}
	{% if session.adventure.reward %}
		<div data-remodal-id="adventure">
			<button data-remodal-action="close" class="remodal-close"></button>
			<div>
				<h2 class="remodal__header">Wróciłeś z przygody!</h2>
				<p>Tłum wiwatuje na twój powrót, a ty przeglądasz swoje łupy - zdobyłeś:
					<span class="adventure__reward">
						{% if session.adventure.reward.gold != false %}
							<img class="icon small" src="images/gold.svg"/>
							<span id="adventure-gold">{{ session.adventure.reward.gold }}</span>
						{% endif %}
						{% if session.adventure.reward.silver != false %}
							<img class="icon small" src="images/silver.svg"/>
							<span id="adventure-silver">{{ session.adventure.reward.silver }}</span>
						{% endif %}
						<img class="icon small" src="images/bronze.svg"/>
						<span id="adventure-bronze">{{ session.adventure.reward.bronze }}</span>
					</span>
				</p>
				</div>
			</div>
		{% endif %}

	<div class="adventure">
		<h1>Wyprawa</h1>
		{% if adventures %}
			<div class="adventure__flex">
				<form id="adventure__list" class="adventure__panel" action="adventure" method="POST">
					{% for adventure in adventures %}
						<input type="radio" name="adventure" id="adventure_{{ adventure.id }}" value="{{ loop.index0 }}"/>
						<label for="adventure_{{ adventure.id }}" id="adventure_label_{{ adventure.id }}" class="card-container  adventure__panel__block"><span class="card-content">{{ adventure.name }}</span></label>
					{% endfor %}
				</form>

			  <div class="adventure__info">
					<div class="adventure__welcome" id="adventureWelcome">Wybierz przygodę aby zobaczyć szczegóły</div>
					{% for adventure in adventures %}
						<div class="adventure__info__block" id="adventure__info-{{ adventure.id }}">
							<h2>{{ adventure.name }}</h2>
							<p class="adventure__info__text">{{ adventure.description }}</p>
							<p class="adventure__conditions">
								<span class="adventure__time">Czas wyprawy: {{ adventure.duration }} godzin/y</span>
								<span class="adventure__reward">
									Nagroda:
									{% if adventure.reward.gold != false %}
					          <img class="icon small" src="images/gold.svg"/>
					          <span id="adventure-gold">{{ adventure.reward.gold }}</span>
					        {% endif %}
					        {% if adventure.reward.silver != false %}
					          <img class="icon small" src="images/silver.svg"/>
					          <span id="adventure-silver">{{ adventure.reward.silver }}</span>
					        {% endif %}
					        <img class="icon small" src="images/bronze.svg"/>
					        <span id="adventure-bronze">{{ adventure.reward.bronze }}</span>
								</span>
							</p>
							<button class="button adventure_start">Rozpocznij przygodę</button>
						</div>
					{% endfor %}
			  </div>
				</div>
			{% else %}
				<div class="adventure__flex-started">
					<div id="adventure_background_{{ adventure.adventures }}" class="adventure__background" mask="url(#mask1)">
						<h2 class="adventure__title">{{ adventure.name }}</h2>
						<p class="adventure__description">{{ adventure.description }}</p>
					</div>
					<p>Pozostało czasu: <span id="adventure_time"></span></p>
					<progress id="adventure_progress" value="0" max="0"></progress>
				</div>
			{% endif %}
	 </div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script>
		var adventure_modal = $('[data-remodal-id=adventure]').remodal();

		{% if session.adventure.reward %}
			adventure_modal.open();
		{% endif %}

		var time = (({{ adventure.adventure_time }} * 1000) - Date.now()) / 1000;
		$('#adventure_progress').attr('max', time);

		function displayTime(){
			var date = ({{ adventure.adventure_time }} * 1000) - Date.now();
			date = new Date(date);

			if(date <= 1) location.reload();

			var hours = date.getHours() - 1;
			var minutes = date.getMinutes();
			var seconds = date.getSeconds();

			if(hours != 0) hours = hours + ' godzin ';
			else hours = '';
			if(minutes != 0) minutes = minutes + ' minut ';
			else minutes = '';
			if(seconds != 0) seconds = seconds + ' sekund';
			else seconds = '';

			var time = hours + minutes + seconds;

			$('#adventure_time').html(time);

			var value =	$('#adventure_progress').val();
			value = parseInt(value) + 1;
			$('#adventure_progress').val(value);

			var t = setTimeout(displayTime, 1000);
		}

		displayTime();
	</script>
	<script src="scripts/adventure.js"></script>
{% endblock %}
