<div class="hero__attributes">
  <p>
    <img class="icon" src="images/attributes/vitality.svg" alt="serce"/>
    Witalność: <span class="span" id="hero__vitality">{{ hero.vitality }}</span>
  </p>
  <button class="button inverted circle hero__attributes__button" id="vitality">
    <i class="icon-plus"></i>
  </button>
  <div class="tooltip hero__attributes__tooltip" id="tooltip__vitality">
    <img class="icon small" src="images/gold.svg"/>
    <span id="attributes-gold-vitality"></span>
    <img class="icon small" src="images/silver.svg"/>
    <span id="attributes-silver-vitality"></span>
    <img class="icon small" src="images/bronze.svg"/>
    <span id="attributes-bronze-vitality"></span>
  </div>
</div>
<div class="hero__attributes">
  <p>
    <img class="icon" src="images/attributes/strength.svg" alt="pięść"/>
    Siła: <span class="span" id="hero__strength">{{ hero.strength }}</span>
  </p>
  <button class="button inverted circle hero__attributes__button" id="strength">
    <i class="icon-plus"></i>
  </button>
  <div class="tooltip hero__attributes__tooltip" id="tooltip__strength">
    <img class="icon small" src="images/gold.svg"/>
    <span id="attributes-gold-strength"></span>
    <img class="icon small" src="images/silver.svg"/>
    <span id="attributes-silver-strength"></span>
    <img class="icon small" src="images/bronze.svg"/>
    <span id="attributes-bronze-strength"></span>
  </div>
</div>
<div class="hero__attributes">
  <p>
    <img class="icon" src="images/attributes/intelligence.svg" alt="inteligencja"/>
    Inteligencja: <span class="span" id="hero__intelligence">{{ hero.intelligence }}</span>
  </p>
  <button class="button inverted circle hero__attributes__button" id="intelligence">
    <i class="icon-plus"></i>
  </button>
  <div class="tooltip hero__attributes__tooltip" id="tooltip__intelligence">
    <img class="icon small" src="images/gold.svg"/>
    <span id="attributes-gold-intelligence"></span>
    <img class="icon small" src="images/silver.svg"/>
    <span id="attributes-silver-intelligence"></span>
    <img class="icon small" src="images/bronze.svg"/>
    <span id="attributes-bronze-intelligence"></span>
  </div>
</div>
<div class="hero__attributes">
  <p>
    <img class="icon" src="images/attributes/agility.svg" alt="zręczność"/>
    Zwinność: <span class="span" id="hero__agility">{{ hero.agility }}</span>
  </p>
  <button class="button inverted circle hero__attributes__button" id="agility">
    <i class="icon-plus"></i>
  </button>
  <div class="tooltip hero__attributes__tooltip" id="tooltip__agility">
    <img class="icon small" src="images/gold.svg"/>
    <span id="attributes-gold-agility"></span>
    <img class="icon small" src="images/silver.svg"/>
    <span id="attributes-silver-agility"></span>
    <img class="icon small" src="images/bronze.svg"/>
    <span id="attributes-bronze-agility"></span>
  </div>
</div>
<div class="hero__attributes">
  <p>
    <img class="icon" src="images/attributes/luck.svg" alt="czterolistna koniczyna"/>
    Szczęście: <span class="span" id="hero__luck">{{ hero.luck }}</span>
  </p>
  <button class="button inverted circle hero__attributes__button" id="luck">
    <i class="icon-plus"></i>
  </button>
  <div class="tooltip hero__attributes__tooltip" id="tooltip__luck">
    <img class="icon small" src="images/gold.svg"/>
    <span id="attributes-gold-luck"></span>
    <img class="icon small" src="images/silver.svg"/>
    <span id="attributes-silver-luck"></span>
    <img class="icon small" src="images/bronze.svg"/>
    <span id="attributes-bronze-luck"></span>
  </div>
</div>
