<div class="hero__attributes">
  <p>
    <img class="icon" src="images/attributes/vitality.svg" alt="serce"/>
    Witalność: <span class="span" id="hero__vitality">{{ hero.vitality }}</span>
  </p>
  <button class="button inverted circle hero__attributes__button" id="vitality">
    <i class="icon-plus"></i>
  </button>
  <div class="tooltip hero__attributes__tooltip" id="tooltip__vitality">
    <img class="icon small" src="images/gold.svg"/>
    <span id="attributes-gold-vitality">
      {% if hero.vitality_cost.gold  != false %}
        {{ hero.vitality_cost.gold }}
      {% else %}
        0
      {% endif %}
    </span>
    <img class="icon small" src="images/silver.svg"/>
    <span id="attributes-silver-vitality">
      {% if hero.vitality_cost.silver  != false %}
        {{ hero.vitality_cost.silver }}
      {% else %}
        0
      {% endif %}
    </span>
    <img class="icon small" src="images/bronze.svg"/>
    <span id="attributes-bronze-vitality">{{ hero.vitality_cost.bronze }}</span>
  </div>
</div>
<div class="hero__attributes">
  <p>
    <img class="icon" src="images/attributes/strength.svg" alt="pięść"/>
    Siła: <span class="span" id="hero__strength">{{ hero.strength }}</span>
  </p>
  <button class="button inverted circle hero__attributes__button" id="strength">
    <i class="icon-plus"></i>
  </button>
  <div class="tooltip hero__attributes__tooltip" id="tooltip__strength">
    <img class="icon small" src="images/gold.svg"/>
    <span id="attributes-gold-strength">
      {% if hero.strength_cost.gold  != false %}
        {{ hero.strength_cost.gold }}
      {% else %}
        0
      {% endif %}
    </span>
    <img class="icon small" src="images/silver.svg"/>
    <span id="attributes-silver-strength">
      {% if hero.strength_cost.silver  != false %}
        {{ hero.strength_cost.silver }}
      {% else %}
        0
      {% endif %}
    </span>
    <img class="icon small" src="images/bronze.svg"/>
    <span id="attributes-bronze-strength">{{ hero.strength_cost.bronze }}</span>
  </div>
</div>
<div class="hero__attributes">
  <p>
    <img class="icon" src="images/attributes/intelligence.svg" alt="inteligencja"/>
    Inteligencja: <span class="span" id="hero__intelligence">{{ hero.intelligence }}</span>
  </p>
  <button class="button inverted circle hero__attributes__button" id="intelligence">
    <i class="icon-plus"></i>
  </button>
  <div class="tooltip hero__attributes__tooltip" id="tooltip__intelligence">
    <img class="icon small" src="images/gold.svg"/>
    <span id="attributes-gold-intelligence">
      {% if hero.intelligence_cost.gold  != false %}
        {{ hero.intelligence_cost.gold }}
      {% else %}
        0
      {% endif %}
    </span>
    <img class="icon small" src="images/silver.svg"/>
    <span id="attributes-silver-intelligence">
      {% if hero.intelligence_cost.silver  != false %}
        {{ hero.intelligence_cost.silver }}
      {% else %}
        0
      {% endif %}
    </span>
    <img class="icon small" src="images/bronze.svg"/>
    <span id="attributes-bronze-intelligence">{{ hero.intelligence_cost.bronze }}</span>
  </div>
</div>
<div class="hero__attributes">
  <p>
    <img class="icon" src="images/attributes/agility.svg" alt="zręczność"/>
    Zwinność: <span class="span" id="hero__agility">{{ hero.agility }}</span>
  </p>
  <button class="button inverted circle hero__attributes__button" id="agility">
    <i class="icon-plus"></i>
  </button>
  <div class="tooltip hero__attributes__tooltip" id="tooltip__agility">
    <img class="icon small" src="images/gold.svg"/>
    <span id="attributes-gold-agility">
      {% if hero.agility_cost.gold  != false %}
        {{ hero.agility_cost.gold }}
      {% else %}
        0
      {% endif %}
    </span>
    <img class="icon small" src="images/silver.svg"/>
    <span id="attributes-silver-agility">
      {% if hero.agility_cost.silver  != false %}
        {{ hero.agility_cost.silver }}
      {% else %}
        0
      {% endif %}
    </span>
    <img class="icon small" src="images/bronze.svg"/>
    <span id="attributes-bronze-agility">{{ hero.agility_cost.bronze }}</span>
  </div>
</div>
<div class="hero__attributes">
  <p>
    <img class="icon" src="images/attributes/luck.svg" alt="czterolistna koniczyna"/>
    Szczęście: <span class="span" id="hero__luck">{{ hero.luck }}</span>
  </p>
  <button class="button inverted circle hero__attributes__button" id="luck">
    <i class="icon-plus"></i>
  </button>
  <div class="tooltip hero__attributes__tooltip" id="tooltip__luck">
    <img class="icon small" src="images/gold.svg"/>
    <span id="attributes-gold-luck">
      {% if hero.luck_cost.gold  != false %}
        {{ hero.luck_cost.gold }}
      {% else %}
        0
      {% endif %}
    </span>
    <img class="icon small" src="images/silver.svg"/>
    <span id="attributes-silver-luck">
      {% if hero.luck_cost.silver  != false %}
        {{ hero.luck_cost.silver }}
      {% else %}
        0
      {% endif %}
    </span>
    <img class="icon small" src="images/bronze.svg"/>
    <span id="attributes-bronze-luck">{{ hero.luck_cost.bronze }}</span>
  </div>
</div>
