<p>
  <img class="icon" src="images/attributes/vitality.svg" alt="serce"/>
  Życie: <span class="span" id="hero__health">{{ hero.health }}</span>
</p>
<p>
  <img class="icon" src="images/attributes/swords.svg" alt="miecze"/>
  Obrażenia: <span class="span" id="hero__attack">{{ hero.attack_min }} - {{ hero.attack_max }}</span>
</p>
<p>
  <img class="icon" src="images/attributes/defense.svg" alt="tarcza"/>
  Pancerz: <span class="span" id="hero__defence">{{ hero.defense }}</span></p>
<p>
  <img class="icon" src="images/attributes/critical.svg" alt="cios krytyczny"/>
  Szansa na trafienie krytyczne: <span class="span" id="hero__critical">{{ hero.critical }} %</span>
</p>
<p>
  <img class="icon" src="images/attributes/miss.svg" alt="unik"/>
  Szansa na unik: <span class="span" id="hero__miss">{{ hero.miss }} %</span>
</p>
