{% extends 'base.html.twig' %}

{% block title %}Bohater{% endblock %}

{% block body %}
  <div class="hero__flex">
    <div class="hero__panel">
      <h2 class="hero__exp-text hero-bold">{{ hero.name }}</h2>
      <img class="hero__image" src="images/heroes/{{ hero.race }}.jpg"/>
      <p class="hero__exp-text">Poziom
        <span class="span">{{ hero.level }}</span>
			</p>
      <progress id="hero__exp-bar" class="hero__exp-bar" data-value="{{ hero.experience }} / {{ hero.experience_max }}" value="{{ hero.experience }}" max="{{ hero.experience_max }}"></progress>
      <p class="hero__gold">Złoto:
        {% if hero.gold  != false %}
          <img class="icon small" id="hero-img-gold" src="images/gold.svg"/>
          <span id="hero-gold">{{ hero.gold }}</span>
        {% endif %}
        {% if hero.silver != false %}
          <img class="icon small" id="hero-img-silver" src="images/silver.svg"/>
          <span id="hero-silver">{{ hero.silver }}</span>
        {% endif %}
        <img class="icon small" id="hero-img-bronze" src="images/bronze.svg"/>
        <span id="hero-bronze">{{ hero.bronze }}</span>
      </p>
    </div>
    <div id="hero__tabs" class="hero">

      <ul>
        <!-- Zakładki -->
        <li>
          <a href="#hero__tab1">Bohater</a>
        </li>
        <li>
          <a href="#hero__tab2">Ekwipunek</a>
        </li>
        <li>
          <a href="#hero__tab3">Atrybuty</a>
        </li>
        <li>
          <a href="#hero__tab4">Osiągnięcia</a>
        </li>
        <!-- Koniec zakładek -->
      </ul>

      <div id="hero__tab1" class="hero-flex">
        {% include 'hero__stats.html.twig' %}
      </div>

      <div id="hero__tab2" class="hero__items">
        {% include 'hero__eq.html.twig' %}
      </div>

      <div id="hero__tab3" class="hero-flex">
        {% include 'hero__attrib.html.twig' %}
      </div>

      <div id="hero__tab4" class="hero__achievements">
        {% include 'hero__achievements.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="scripts/hero.js"></script>
{% endblock %}
